.ruff_cache
/.ipynb_checkpoints/
/.vscode/
/archive/
/data/__pycache__/
/outbox/
.DS_Store
.env
.venv
venv
*.feather
temp.ipynb
.idea/*
*.pyc
dist/
*egg-info
secrets.env
docker-compose.dev.yml
.pytest_cache
.coverage